.sheet {
  overflow: hidden;
}

.margin-top-6 {
  margin-top: 6px;
}

.margin-top-12 {
  margin-top: 12px;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-bottom-6 {
  margin-bottom: 6px;
}

.margin-bottom-12 {
  margin-bottom: 12px;
}

.margin-bottom-24 {
  margin-bottom: 24px;
}
